/* Regole di Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Fine Regole di Reset*/

/* Regole Layout */
.container {
  margin: auto;
  width: 910px;
}
/* Fine Regole Layout */

/* Singolo Prodotto */
.item {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
/* Fine Singolo Prodotto */

/* Scontistica */
.discount {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
}

.high {
  background: green;
}
.low {
  background: red;
}
/* Fine Scontistica */

/* Cuoricino */
.wish {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: red;
  font-size: 30px;
  display: none;
}
.item:hover .wish {
  display: block;
}
/* Fine Cuoricino */
