/* Regole di Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Fine Regole di Reset*/

/* Regole Layout */
.container {
  margin: auto;
  width: 910px;
}
/* Fine Regole Layout */

/* Singolo Prodotto */
.item {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}
/* Fine Singolo Prodotto */

/* Scontistica */
.item .discount {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  text-align: center;
}
.item .discount .style {
  font-family: 'Cookie', cursive;
  font-size: 20px;
}
.item .discount.high {
  background: green;
}
.item .discount.low {
  background: red;
}
/* Fine Scontistica */

/* Cuoricino */
.item .wish {
  position: absolute;
  right: 150px;
  bottom: 10px;
  font-size: 30px;
  display: none;
  cursor: pointer;
}
.item:hover .wish {
  display: block;
}
.wish:hover {
  color: red;
}
/* Fine Cuoricino */
